.heading {
    width: 100%;
    margin: 0px;
    font-size: 20px;
    box-shadow: 20px 20px 30px rgb(166, 27, 117);
}
.anisha {
    font-size: 15px;
    color: rgb(176, 51, 139);

}
.foot {
    position: fixed;
    color: rgb(205, 255, 248);
    background-color: rgb(121, 27, 139);
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 2;
}
canvas {
    border: 5px solid palevioletred;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(201, 120, 120);
}